body {
    font-family: 'Helvetica', sans-serif;
}

.fixedWidth {
    width: 180px;
    margin: 0 auto;
    padding: 15px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.bordered {
    border: 1px solid #000;
}

.bgGreen {
    background: #62a474;
    color: #fff;
}

.BgRed {
    background: #aa0114;
    color: #fff;
}

.bgBlue {
    background: #3eb3ff;
    color: #fff;
}

.red {
    background: #aa0114;
}

.green {
    background: #027b76;
}

.blue {
    background: #5786c8;
}

.yellow {
    background:#fefb6e;
}

.purple {
    background: #512a7b;
}

.gray {
    background: #65737e;
}

.game {
    max-width: 1280px;
    margin: 30px auto 0;
    padding: 15px;
    background: #d8d6d6;
    border-radius: 7px;
    text-align: center;
    position: relative;
}

.gameBoard {
    width: auto;
    table-layout: auto;
    border-collapse: collapse;
    margin: 0 auto;
}

.gameTile {
    width: 15px;
    height: 15px;
}

.colorsBlock {
    width: 50%;
    margin: 0 auto;
}

.colors {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.color {
    width: 70px;
    height: 35px;
    margin: 10px;
    cursor: pointer;
}

.gameInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.btn {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 5px;
}

.btnMd {
    width: 180px;
    padding: 20px;
    font-size: 18px;
    margin: 10px 0;
}

.sequence {
    width: 150px;
    max-height: 743px;
    position: absolute;
    top: 0;
    left: -160px;
    padding: 20px;
    text-align: center;
    background: #d8d6d6;
    overflow: auto;
}

.sequenceColor {
    margin: 10px;
}

.moves {
    width: 100px;
    position: absolute;
    top: 0;
    left: -270px;
    padding: 20px;
    text-align: center;
    background: #d8d6d6;
}

